In [1]:
#import library
import pandas as pd

In [26]:
#path for data
path1="exercise_data\chipotle.tsv"

In [27]:
#read data file into dataframe
chipo = pd.read_csv(path1,sep='\t')

In [28]:
#top 10 records
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [6]:
#num of rows
chipo.shape[0]

4622

In [7]:
#num of columns
chipo.shape[1]

5

In [8]:
#list of columns
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
#frame index
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [10]:
#Which item was bought the most
#1. get 2 columns from original frame, then group them by 'item_name'; aggregate: count total item were ordered
c = chipo[['item_name','quantity']].groupby(['item_name'],as_index=False).agg({'quantity':sum})

In [11]:
c

                                item_name  quantity
0                       6 Pack Soft Drink        55
1                           Barbacoa Bowl        66
2                        Barbacoa Burrito        91
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
5                     Barbacoa Soft Tacos        25
6                           Bottled Water       211
7                                    Bowl         4
8                                 Burrito         6
9                             Canned Soda       126
10                      Canned Soft Drink       351
11                          Carnitas Bowl        71
12                       Carnitas Burrito        60
13                  Carnitas Crispy Tacos         8
14                         Carnitas Salad         1
15                    Carnitas Salad Bowl         6
16                    Carnitas Soft Tacos        40
17                           Chicken Bowl       761
18                        Chicken Burrito       591
19                   Chicken Crispy Tacos        50
20                          Chicken Salad         9
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
23                                  Chips       230
24           Chips and Fresh Tomato Salsa       130
25                    Chips and Guacamole       506
26      Chips and Mild Fresh Tomato Salsa         1
27     Chips and Roasted Chili Corn Salsa        23
28     Chips and Roasted Chili-Corn Salsa        18
29  Chips and Tomatillo Green Chili Salsa        45
30    Chips and Tomatillo Red Chili Salsa        50
31  Chips and Tomatillo-Green Chili Salsa        33
32    Chips and Tomatillo-Red Chili Salsa        25
33                           Crispy Tacos         2
34                                   Izze        20
35                       Nantucket Nectar        29
36                                  Salad         2
37                          Side of Chips       110
38                             Steak Bowl       221
39                          Steak Burrito       386
40                     Steak Crispy Tacos        36
41                            Steak Salad         4
42                       Steak Salad Bowl        31
43                       Steak Soft Tacos        56
44                            Veggie Bowl        87
45                         Veggie Burrito        97
46                    Veggie Crispy Tacos         1
47                           Veggie Salad         6
48                      Veggie Salad Bowl        18
49                      Veggie Soft Tacos         8

In [12]:
#sort result by 'quantity', order is descending 
c.sort_values(['quantity'],ascending=False,inplace=True)
c.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

In [13]:
#how many items were ordered
chipo['item_name'].nunique()

50

In [14]:
#which product was ordered the most in 'choice_description'
chipo['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

In [15]:
#how many products were ordered
total_items_orders = chipo['quantity'].sum()
total_items_orders

4972

In [20]:
#check data types
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

#convert price into float, new data is already float
#dollarizer = lambda x: x[1:-1]
#chipo['item_price'] = chipo['item_price'].apply(dollarizer)

In [21]:
#total revenue for this data set
chipo['sub_total'] = round(chipo['item_price'] * chipo['quantity'],2)
chipo['sub_total'].sum()

39237.02

In [23]:
#how many orders in this dataset
chipo['order_id'].nunique()

1834

In [25]:
#the average order price for all order, Total revenue/total orders
39237.02/1834

21.39423118865867

In [24]:
#another way to calculate the average order price for all order
chipo[['order_id','sub_total']].groupby(by=['order_id']
).agg({'sub_total':'sum'})['sub_total'].mean()

21.394231188658654